
  <div>
 <p>Book detail</p>

 <p><%= @book.user.name %></p>
 <p>title:<% @book.title %></p>
 <p>body:<% @book.body %></P>

 <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
  
  </div>
